Repository 1-21Ben/ppgsage50-plugin, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ppg-dev-team, @ppg-security-team, @ppg-architect-team, @ppg-api-team, @ppg-ux-team, @ppg-devops-team, @ppg-docs-team, @ppg-support-team, @ppg-legal-team

.github/CODEOWNERS:

# Code owners for PPG Sage 50 ERP Plugin
# These people will be automatically requested for review when changes are made

# Global owners
* @ppg-dev-team @ppg-security-team

# Core plugin files
/PPGSage50Plugin/ @ppg-dev-team @ppg-architect-team
/PPGSage50Plugin/Models/ @ppg-dev-team
/PPGSage50Plugin/Services/ @ppg-dev-team @ppg-api-team
/PPGSage50Plugin/UI/ @ppg-dev-team @ppg-ux-team
/PPGSage50Plugin/Configuration/ @ppg-dev-team @ppg-devops-team

# Security-sensitive files
/SECURITY.md @ppg-security-team
/PPGSage50Plugin/Services/AuthenticationService.cs @ppg-security-team @ppg-dev-team
/PPGSage50Plugin/Configuration/AppConfig.cs @ppg-security-team @ppg-dev-team

# Documentation
/README.md @ppg-dev-team @ppg-docs-team
/INSTALLATION.md @ppg-devops-team @ppg-docs-team
/QUICK_START.md @ppg-docs-team @ppg-support-team
/CONTRIBUTING.md @ppg-dev-team @ppg-docs-team

# Build and deployment
/build.bat @ppg-devops-team
/install.bat @ppg-devops-team @ppg-security-team
/.github/workflows/ @ppg-devops-team

# Configuration files
/App.config @ppg-devops-team @ppg-security-team
/log4net.config @ppg-dev-team
/packages.config @ppg-dev-team

# License and legal
/LICENSE @ppg-legal-team

docs: ajout des scripts et guides pour la création du repository GitHub
  create-github-repo.md
  create-repository.ps1
  repository-config.json
  validate-repository.ps1
Owners: @ppg-dev-team, @ppg-security-team

fix: ajout du workflow de release manquant et script de vérification
  .github/workflows/release.yml
  check-files.ps1
Owners: @ppg-devops-team, @ppg-dev-team, @ppg-security-team

docs: ajout du guide final et script automatisé pour GitHub
  GITHUB_SETUP_GUIDE.md
  setup-github-repo.bat
Owners: @ppg-dev-team, @ppg-security-team

docs: résumé final du projet - Plugin PPG Sage 50 ERP terminé
  PROJECT_SUMMARY.md
Owners: @ppg-dev-team, @ppg-security-team

fix: correction finale du script de validation
  validate-repository.ps1
Owners: @ppg-dev-team, @ppg-security-team

fix: correction des caractères spéciaux dans final-status.bat
  final-status.bat
Owners: @ppg-dev-team, @ppg-security-team

docs: guide final utilisateur - Plugin PPG Sage 50 ERP terminé
  GUIDE_FINAL_UTILISATEUR.md
Owners: @ppg-dev-team, @ppg-security-team

feat: scripts finaux de statut et résumé du projet
  resume-final.ps1
  statut-final.bat
Owners: @ppg-dev-team, @ppg-security-team

fix: mise à jour des GitHub Actions vers la v4
  .github/workflows/build.yml
  .github/workflows/release.yml
  check-workflows.ps1
  push-to-github.bat
Owners: @ppg-devops-team, @ppg-dev-team, @ppg-security-team

Update README.md
  README.md
Owners: @ppg-dev-team, @ppg-docs-team
